.activity_wrapper{
    background: white;
    padding: 30px;
    margin: 10px 0;
}
.activity_container{
    display: flex;
    align-items: center;
}

.img_container{
    position: relative;
    height: 64px;
    width: 64px;
    margin-right: 10px;
}

.icon_container{
    position: relative;
    height: 20px;
    width: 20px;
    transform: rotate(90deg);
}
.icon_container_active{
    position: relative;
    height: 20px;
    width: 20px;
    transform: rotate(180deg);
}

.moreInfo{
    text-align: justify;
    text-justify: inter-word;
}