@import "./typography.css";

:root {
  --text-color-blue: #103460;
  --Gotham-Bold-font: 'Gotham Bold';
  --Gotham-Medium-font: 'Gotham Medium';
  --Gotham-Book-font: 'Gotham Book';
  --Nunito-Bold-font: 'Nunito-Bold';
  --regular-font: 'regular';
  --Gilroy-Light-font: 'Gilroy-Light';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
