@font-face {
  font-family: "Gotham Bold";
  src: url("/fonts/Gotham Bold.otf");
}
@font-face {
  font-family: "Gotham Medium";
  src: url("/fonts/Gotham Medium.otf");
}
@font-face {
  font-family: "Gotham Book";
  src: url("/fonts/Gotham Book.otf");
}
@font-face {
  font-family: "Nunito-Bold";
  src: url("/fonts/Nunito-Bold.ttf");
}
@font-face {
  font-family: "regular";
  src: url("/fonts/regular.ttf");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("/fonts/Gilroy-Light.otf");
}
