.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffff;
    height: 80px;
    width: 100%;
    -webkit-box-shadow: 0px 10px 5px 0px rgb(225, 225, 225, 0.5);
    -moz-box-shadow: 0px 10px 5px 0px rgba(225,225,225,0.5);
    box-shadow: 0px 10px 5px 0px rgba(225,225,225,0.5);
    position: sticky;
    top:0;
    z-index: 10;
}




.brand_img_container{
    position: relative;
    height: 50px;
    width: 100%;
}

.profile_img_container{
    position: relative;
    height: 64px;
    width: 64px;
    margin: 0 10px;
}

.desktop_items_container{
    display: none;
}

.profile_container{
    display: flex;
    align-items: center;
}

.profile_container p{
    display:none;
}

.icon_profile{
    display: none;
}

.notifications_container_row{
    position: absolute;
    top: -10px;
    right: 50px;
    background-color: white;
    height: 25px;
    width: 25px;
    transform: rotate(45deg);
}

.notifications_container{
    position: absolute;
    top: 70px;
    right: -50px;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* overflow: hidden; */
}

@media screen and (min-width:768px){

    .brand_img_container{
        width: 200px;
    }

    .desktop_items_container{
        display: flex;
        justify-content:flex-end;
        align-items: center;
        width: 100%;
        height: inherit;
    }

    .search_container{
        width: 100%;
        max-width: 850px;
    }

    .add_btn{
        color: white;
        border-radius: 18px;
        background: #3D84FF;
        border:none;
        height: 20px;
        padding: 25px 20px;
        display: flex;
        align-items: center;
        margin: 0 40px 0 10px;
    }

    .icon_container{
        cursor:pointer;
        position: relative;
        height: 25px;
        width: 25px;
        margin: 0 10px;
    }

    .notification_light{
        position: absolute;
        right: 0;
        bottom:0;
        height:8px;
        width: 8px;
        border-radius: 50%;
        background: #3D84FF;
    }

    .profile_container p{
        display: flex;
        align-items: center;
        width: max-content;
        margin: 0;
        font-family: var(--regular-font);
        font-weight: bold;
        color:gray;
    }

    .icon_profile{
        display: flex;
        align-items: center;
        position: relative;
        height: 15px;
        width: 15px;
        margin: 0 10px;
        transform: rotate(180deg);
    }

    .btn_container{
        display: none;
    }
}