.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffff;
    height: 100px;
    width: 100%;
    -webkit-box-shadow: 0px 10px 5px 0px rgb(225, 225, 225, 0.5);
    -moz-box-shadow: 0px 10px 5px 0px rgba(225,225,225,0.5);
    box-shadow: 0px 10px 5px 0px rgba(225,225,225,0.5);
    position: sticky;
    top:0;
    z-index: 10;
}

.btn_menu_container{
    display:flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border:0;
    background: transparent;
    gap: .65rem;
    cursor: pointer;
}
.btn_menu_container > div{
    background: gray;
    height:3px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}
.btn_menu_container:hover div:first-child{
    transform: rotate(50deg);
}
.btn_menu_container:hover div:nth-child(2){
    opacity: 0;
}
.btn_menu_container:hover div:nth-child(3){
    transform: rotate(-50deg);  
}


.brand_img_container{
    position: relative;
    height: 50px;
    width: 100%;
}

.profile_img_container{
    position: relative;
    height: 64px;
    width: 64px;
}